<div class="container">
  <div class="row"></div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm"></div>
    <div class="col-sm">
      <div class="card indigo">
        <div class="card-body">
          <h5 class="card-title text-light" style="margin: 20px 0px 30px 0px">
            Sign Up form
          </h5>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"
              ><i class="bi bi-person-fill"></i
            ></span>
            <input
              type="text"
              class="form-control"
              placeholder="Username"
              aria-label="Username"
              aria-describedby="basic-addon1"
            />
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">@</span>
            <input
              type="email"
              class="form-control"
              placeholder="Email"
              aria-label="Email"
              aria-describedby="basic-addon2"
            />
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"
              ><i class="bi bi-key-fill"></i
            ></span>
            <input
              type="password"
              class="form-control"
              placeholder="Password"
              aria-label="Password"
              aria-describedby="basic-addon3"
            />
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"
              ><i class="bi bi-key-fill"></i
            ></span>
            <input
              type="password"
              class="form-control"
              placeholder="Retype password"
              aria-label="Password-confirm"
              aria-describedby="basic-addon4"
            />
          </div>
          <div class="input-group mb-3">
            <button class="btn btn-primary" style="margin-top: 20px">
              Sign Up
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm"></div>
  </div>
</div>
